RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule (.*) index.php/$1 [L]
php_value upload_max_filesize 20M
php_value memory_limit 512M